* 
{
    box-sizing: border-box; /* lead generation, brand awreness and cost management box along the right side of site */
    padding: 0;
    margin: 0;
}

body 
{
    background-color: #e9e9e9; /* backgroud color below main picture of site */
}

.header 
{ /* header padding, backgroud color, font family */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 
{ /* search enginer optimization, online reputation management, and social media marketing text display inline */
    display: inline-block;
    font-size: 48px;
}

.header h1 .Horiseon 
{ /* Horiseon text color */
    color: #d8dbd4;
}

.header div 
{ /* padding from top of page, test shifted to the right with 20px spacing and font size */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul
{
    list-style-type:none;
}

.header div ul li 
{ /* text along top of page shift left by 25 px  and inline*/
    display: inline-block;
    margin-left: 25px;
}

a 
{ /* color of header text */
    color: #f0f0f0;
    text-decoration: none;
}

p 
{ /* font size and color of text in the middle of page near each picture */
    font-size: 16px;
    color: #f3f5f0;
}

.hero 
{ /* largest picture on page.  height, width, margin from bottom half of page of picture */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover; /* puts entire picture in view */
    background-position: center; 
}

.float 
{ /* Text floated left or right given some number of px */
    float: left;
    margin-right: 25px;
}
.float-right 
{
   float: right;
   margin-left: 25px; 
}


.content 
{ /* The three blocks spans 75% of the width of the page, and shifted some number of px from left, and displayed inline */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits 
{ /* slim block that only spans 20% of the width of the page, and shifted to the right side of page with some number of px for padding*/
    margin-right: 20px;
    padding: 20px;
    clear:both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, 
.benefit-brand, 
.benefit-cost 
{
    margin-bottom: 32px; /* Slim box with title text shift up from the bottom with some number of px and some color */
    color: #fafffc;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3
{
    margin-bottom: 10px; /* text in slim box specifically underneath the title.  Shifted down some number of px from title*/
    text-align: center; 
}

.benefit-lead img, 
.benefit-brand img,
.benefit-cost img
{
    display: block; /* Images in slim block displayed, margin, and some max size */
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing 

{
    margin-bottom: 20px; /* contents of the 3 boxes shifted from the bottom, some number of padding, box height, font family, box color, and text color */
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, 
.online-reputation-management img, 
.social-media-marketing img 
{
    max-height: 200px; /* height of the pictures in the 3 blue boxes */
}

.search-engine-optimization h2, 
.online-reputation-management h2,
.social-media-marketing h2  
{
    margin-bottom: 10px; /* title in 3 boxes shifted down by some number of px and font size of text */
    font-size: 36px;
}

.footer 
{
    padding: 30px; /* padding for footer text, font family, and text alignment */
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 
{
    font-size: 20px; /* font size of footer */
}

.p1
{
    color: black; /* Color of text underneath footer "2019 horiseon social solution services, INC." */
}

.nothing 
{
    font-size: 20px;
    color:#db260e
}
